@model List<Producto>

@if (Model == null || !Model.Any())
{
    <p>¡No se encontraron resultados!</p>
}
else
{
    <div id="resultados" class="bodyCartas">
        <div class="containerCartas">
            @foreach (var item in Model)
            {
                <div class="w-80 bg-white shadow-2xl rounded-lg overflow-hidden my-10">
                    <div class="px-4 py-2">
                        <h1 class="text-gray-900 font-bold text-2rem uppercase">@item.NombreProducto</h1>
                        <p class="text-gray-600 text-sm mt-1">@item.Genero</p>
                    </div>
                    <img class="object-contain h-80 mt-2" src="@item.Imagen">
                    <div class="flex items-center justify-between px-4 py-2 bg-purple-900">
                        <h1 class="text-gray-200 font-bold text-xl">@item.Precio€</h1>
                        <button class="px-3 py-1 font-semibold rounded bn632-hover bn18">
                            <a asp-controller="Productos"
                       asp-action="VistasDetalles"
                       asp-route-idproducto="@item.IdProducto">
                                Comprar
                            </a>
                        </button>
                    </div>
                </div>
            }
        </div>
    </div>
}

